services:
  - type: web
    name: awdPrueba-api
    env: node
    region: oregon
    plan: free
    buildCommand: npm install
    startCommand: npm run server:start
    autoDeploy: true
    envVars:
      - key: PORT
        value: 8080
      - key: DATABASE_URL
        sync: false
      - key: SUPABASE_URL
        sync: false
      - key: SUPABASE_SERVICE_ROLE_KEY
        sync: false
